.handle-products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    gap: 24px;
}